/* Layout
  =============== */

/* Loghi header
  =========================== */

#header-container{
  height:30px;
}
#logo-poli {
  width: 269px;
  height: 20px;
  background: url(../images/logo-poli.svg);
  float: left;
  margin:5px 0;
}

#logo-meccanica {
  width: 295px;
  height: 20px;
  background: url(../images/logo-meccanica.svg);
  float: left;
  margin:5px 0;
}


/* News home page
 ========================================================================*/

/* News Link styling  */
.news a {
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}
/* News list date ***********/
.news-list-date {
  background: url(../images/calendario.png) no-repeat;
  width: 43px;
  height: 44px;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
  top: 0;
}

.news-list-date a {
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

/* Link to all news */
.tab-content .csc-header {

  order:2;
}

.news-list-container  {
  order:1;
}

.tab-content .csc-header h1 {
  background: #028eb2;
  padding: 10px 20px 10px 0;
  text-align: right;
}

.tab-content .csc-header h1 a{
  color: #ffffff;
  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
  }
  &:after {
    padding-left: 8px;
    content: '>';/*blacktriangleright*/
    font-size: 2rem;
  }
}

/* tt_news style overriding ************/

.news-list-container h3 {
  margin: 0 0 5px 0;
}

/* tab  style ********************/

.news .tab-content {
  display: none;
  padding: 20px 0 0;
  /*box-shadow: inset 0 1px 0 0 $heading-font-color;*/
  border-top: 1px solid $heading-font-color;
}

.news .list-item:before{
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  margin-bottom:10px;
  width: 90%; /* Change this to whatever width you want. */
   /* This creates some space between the element and the border. */
  border-bottom: 1px dotted #bbbbbb; /* This creates the border. Replace black with whatever color you want. */
}


input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  margin-left: 25px;
  padding: 3px 25px;
  font-family: $heading-font-family;
  font-weight: 600;
  font-size: $h2;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  border: 1px solid #bbbbbb;
  border-bottom: 1px solid transparent;
}

/*
label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }
*/

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: $heading-font-color;
  border: 1px solid $heading-font-color;
  /* il box shadow rende il bordo superiore della tab selezionata*/
  box-shadow: inset 0 3px 0 0 $heading-font-color;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #c53,
#tab2:checked ~ #c1679{
  display: flex;
  flex-direction: column;
}

/*
@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
*/