/* Layout
  =============== */

/* Loghi header
  =========================== */

#header-container{
  height:30px;
}


#logo-poli {
  height: 40px;
  background: url(../images/logo-poli-mobile.svg) no-repeat;
  margin:0;
}

#logo-meccanica {
  height: 40px;
  background: url(../images/logo-meccanica.svg) no-repeat;
  margin:10px 2px;
  padding-left: 3px;
}

@include medium-breakpoint {
  #header-container div{
    height: 20px
  }
  #logo-poli {
    width: 269px;
    height: 20px;
    margin:5px 0;
    background: url(../images/logo-poli.svg);
  }
  #logo-meccanica {
    height: 20px;
    padding-left: 0;
    margin:5px 0;
  }
}


/* Slider home page
========================================================================*/
#slider-container{
  margin-bottom: 3%;
}


/* News home page
 ========================================================================*/

/* News tab navigation  **************************************************/

.news .tab-content {
  display: none;
  padding: 20px 0 0;
  /*box-shadow: inset 0 1px 0 0 $heading-font-color;*/
  border-top: 1px solid $heading-font-color;
}


input {
  display: none;
}

label {
  position:relative;
  display: inline-block;
  margin: 0 0 -1px;
  margin-left: 25px;
  padding: 3px 15px 3px 35px;
  font-family: $heading-font-family;
  font-size: $h2;
  font-weight: 400;
  text-align: center;
  color: $label-color;
  border: 1px solid transparent;
  border: 1px solid $label-color;
  border-bottom: 1px solid transparent;
}

/*
label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }
*/

label[for=tab1]:before {
  content: "";
  background: url(../images/news_over.svg) no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 4px;
  left: 5px;
}

label[for="tab2"]:before {
  content: "";
  background: url(../images/news_phd_over.svg) no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 6px;
  left: 5px;
}

label:hover {
  color: $label-hover-color;
  cursor: pointer;
}
/*
label[for=tab1]:before:hover {
  background: url(../images/news_over.svg) no-repeat;
}
label[for=tab1]:before:hover {
  background: url(../images/news_phd_over.svg) no-repeat;
}*/

input:checked + label {
  color: $heading-font-color;
  border: 1px solid $heading-font-color;
  /* il box shadow rende il bordo superiore della tab selezionata*/
  box-shadow: inset 0 3px 0 0 $heading-font-color;
  border-bottom: 2px solid #fff;
  margin-bottom: -2px;
  z-index: 9999;
}


input:checked + label[for="tab1"]:before {
  background: url(../images/news.svg) no-repeat;
}
input:checked +  label[for="tab2"]:before {
  background: url(../images/news_phd.svg) no-repeat;
}


#tab1:checked ~ #c53,
#tab2:checked ~ #c1679{
  display: flex;
  flex-direction: column;
}

/*
@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
*/


/*News list item **********************************************************/
/* News Link styling  */
.news a {
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.list-item{
  justify-content: center;
}
/* News list date ***********/
.news-list-date {
  background: url(../images/calendario.png) no-repeat;
  width: 43px;
  height: 44px;
  flex-basis: 13%;
  margin-left: 1%;
  margin-right: 2%;
}

.news-list-date a {
  font-size: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

.news-list-date span.giorno_evento_home {
  margin: 10px 0 0 0;
  width: 25px;
}

/* News list text************************************************/
.news-list-text {
  flex-basis: 80%;
}

/* Link to all news **********************************************/
.tab-content .csc-header {
  order:2;
}

.news-list-container  {
  order:1;
}

.tab-content .csc-header h1,
.tab-content .csc-header h2,
.tab-content .csc-header h3{
  background: #028eb2;
  padding: 10px 20px 10px 0;
  text-align: right;
}

.tab-content .csc-header h1 a,
.tab-content .csc-header h2 a,
.tab-content .csc-header h3 a{
  color: #ffffff;
  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
  }
  &:after {
    padding-left: 8px;
    content: '>';/*blacktriangleright*/
    font-size: 2rem;
  }
}


@include medium-breakpoint {

  .news .tab-content{
    border: 1px solid $heading-font-color;
    padding-bottom:2%;
    position: relative;
  }
  .tab-content .csc-header {
    position: absolute;
    right: 4px;
    top: -60px;
    order: 1;
  }

  .tab-content .csc-header h1,
  .tab-content .csc-header h2,
  .tab-content .csc-header h3{
    background: transparent;
    padding: 0;
    text-align: right;
  }

  .tab-content .csc-header h1 a,
  .tab-content .csc-header h2 a,
  .tab-content .csc-header h3 a{
    color: $label-hover-color;
    &:hover,
    &:active,
    &:focus {
      color: $primary-color;
    }
    &:after {
      padding-left: 8px;
      content: '>';/*blacktriangleright*/
      font-size: 2rem;
    }
  }

  .news-list-container{
    order: 1;
  }

  .news-list-container .list-item.medium-25{
    width: 20%;
    min-height: 200px;
    max-height: 200px;
    margin: 0 4% 0 0;
    padding: 2% 1% 1%;
    border-top: 5px solid $primary-color;
    background-color: $block-background;
  }
  .news-list-container .list-item.medium-25:first-child{
    margin-left:4%;
  }


  .news-list-date {
    flex-basis: initial;
    margin-left: 0;
    margin-right: 0;
  }

  .news-list-text {
    flex-basis: 100%;
  }
}



/* Links - home page
 ========================================================================*/
.link{
  margin: 3rem auto;
}

.csc-menu-10 {
  padding:0;
  margin:0;
  list-style: none;
}

.csc-menu-10 li {
  align-items: center;
  font-family: $heading-font-family;
  font-size:1.375rem;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px dotted #bbb;
  &:after {
    content: '>';/*blacktriangleright*/
    position: relative;
    left: -15px;
  }
  &:first-child {
    border-top: 1px dotted $block-border;
  }
}

.csc-menu-10 span.img{
  flex-basis:22%;
}
.csc-menu-10 span.img img{
  display: block;
  border-left: 10px solid $heading-font-color;
}

.csc-menu-10 a.text {
  z-index:100;
  display: inline-block;
  flex-basis:62%;
  margin-left: 0.375rem;
  height: 100%;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $heading-font-color;
  }
}

@media (max-width: $x-small-bp) {
  /*limito dimensione massima immagini menu */
  .csc-menu-10 span.img img{
    max-width: 90px;
  }
}

@include x-small-breakpoint {
  //applico il bordo superiore solo ai primi due elementi
  .csc-menu-10 li:nth-child(-n+2) {
    border-top: 1px dotted $block-border;
  }
}

@include small-breakpoint {
  .csc-menu-10 li {
    border-top: 1px dotted $block-border;
  }
}


@include medium-breakpoint {

  .csc-menu-10 li{
    padding: .15rem;
  }
  .csc-menu-10 li:after {
      content: '';
  }
  .csc-menu-10 span.img{
    flex-basis:100%;
    order: 2;
  }
  .csc-menu-10 span.img img{
    border-left: none;
    border-bottom: 10px solid $heading-font-color;
  }

  .csc-menu-10 a.text{
    flex-basis:100%;
    order: 1;
    margin:0;
    padding-left: 1rem;
    background: $footer-background;
    color: #ffffff;
  }

  .csc-menu-10 li:nth-child(n) {
    border: none;
  }

}


/* Secondi livelli - stili generali
 ========================================================================*/

/* Breadcrumb */

#breadcrumb-container{
  background-color:#fff;
  border-bottom:1px dotted #999;
}
ul#breadcrumbList {
  margin:0;
  padding:0;
}
ul#breadcrumbList li {
  display:inline;
  border-right: 1px solid #333;
  padding:0 .5em;
}
ul#breadcrumbList li:last-child{
  border-right: none;
}
ul#breadcrumbList .home{

}
ul#breadcrumbList a{
  color:#333;
  text-decoration:none;
}
ul#breadcrumbList .bread-cur{
  color:$primary-color;
}



/* Page/Section title */

.section-title .csc-header {
  display: flex;
  justify-content:center;
  width: 100%;
  margin-top: $margins;
  margin-bottom: $margins;
  padding: 0;
  /*box-shadow:  inset 0 18px 0 0 #fff,
  inset 0 19px 0 0 #999,
  inset 0 23px 0 0 #fff,
  inset 0 25px 0 0 #686868;*/
  box-shadow: inset 0 0.975rem 0 0 #fff, inset 0 1rem 0 0 #999, inset 0 1.2rem 0 0 #fff, inset 0 1.335rem 0 0 #686868;
}

.section-title .csc-header h1 {
  margin:0;
  padding: 0 0.75rem;
  background: #fff;
}


/* Secondi livelli -  Lista laboratori - Menu of subpages of selected pages with image
 ========================================================================*/



.csc-menu-50 li {
  align-items: center;
  font-family: $heading-font-family;
  font-size:1.375rem;
  text-transform: uppercase;
  position: relative;
  padding: 0 0.5rem;
}


.csc-menu-50 a.text {
  z-index:100;
  display: inline-block;
  text-decoration: none;
  background: $footer-background;
  background: rgba($footer-background, 0.75);
  color: #ffffff;
  position:absolute;
  top: 50%;
  left: 0;
  margin: 0 0.975rem;
  padding: 0.175rem 0.5rem;
}

@include small-breakpoint {
  .csc-menu-50 li {
    flex-basis:25%;
  }
}

@include medium-breakpoint {
  .csc-menu-50 li {
    flex-basis:20%;
  }
}





/* Footer
 ========================================================================*/

/* Footer nav **********/
#footer-nav .csc-menu {
  padding:0;
  margin:0;
  list-style: none;
}

#footer-nav li {
  min-height: 60px;
  align-items: center;
  font-family: $heading-font-family;
  font-size:1.375rem;
  border-top: 1px solid transparent;
  border-bottom: 1px dotted $block-border;
  background-color: $block-background;
  &:after {
    content: '>';/*blacktriangleright*/
    position: relative;
    left: -15px;
  }
  &:first-child {
    border-top: 1px dotted $block-border;
  }
}

#footer-nav a {
  z-index:100;
  display: inline-block;
  flex-basis:85%;
  margin-left: 1rem;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $heading-font-color;
  }
}

@include x-small-breakpoint {
  #footer-nav li:nth-child(-n+2) {
    border-top: 1px dotted $block-border;
  }
}

@include small-breakpoint {
  #footer-nav li {
    border-top: 1px dotted $block-border;
  }
}

/* Footer text **********/

#footer-text {
  padding: 15px 0 0 15px;
  background-color: $footer-background;
  border-bottom: 10px solid $block-border;
  color:#fff;
}

#footer-text:before {
  content: url(../images/ico_bianca_dove_siamo.png);
  float: left;
  height: 100%;
  padding: 5px 10px;
}

#footer-text a {
  color: #ffffff;
  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
  }
}

/* Footer desktop layout **************/
@include medium-breakpoint {
  /*dal medium-breakpoint in poi cambio l'ordine dei div del footer*/
  #footer-container{
    background-color: #3F4C50;
    border-bottom: 10px solid #333;
  }
  #footer-nav  {
   order:2;
   padding-top:15px;
  }
  #footer-text  {
    order:1;
    border: none;
  }
  #footer-nav li {
    min-height: 0;
    background-color: transparent;
    &:after {
      content: '';
    }
  }
  #footer-nav li:nth-child(n) {
    border:none;
    border-left: 1px solid #fff;
  }

  #footer-nav a {
    font-family: $font-family;
    font-size: $body-font-size;
    text-decoration: underline;
    padding: 0.375rem 0;
    color: #ffffff;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
    }
  }

}