$container: $medium; /*1200*/
$breakpoint: $medium; /*1024*/
$nav-height: 50px;/*70*/
$nav-background: #333333;
$nav-font-color: #ffffff;
/*$link-hover-color: #2581DC;*/
$link-hover-color: #028EB2;

//// Navigation font
$nav-font-size: 1.375rem;
$nav-font-color: #ffffff;
$nav-font-weight: 300;
$nav-font-family: 'Yanone Kaffeesatz','Trebuchet MS', Helvetica, sans-serif;
$nav-line-height: 1.2;
$nav-text-transform: uppercase;

// Navigation Link styling
.navigation a {
  color: $nav-font-color;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

#langMenu a {
  color:transparent;
}

#navigation-container{
  background: $nav-background;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.navigation {
  height: $nav-height;
  background: transparent;
  position: relative;
  z-index: 9999;
}

#langMenu{
  position: absolute;
  top: -30px;
  right: 0;
}

nav.main {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      border-right: 1px solid #ccc;
      border-top:none;
      background: $nav-background;/**/
      text-align:left;
      a {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        font-size:$nav-font-size;
        font-family: $nav-font-family;
        font-weight: $nav-font-weight;
        /*color: $nav-font-color;*/
        text-decoration: none;
        text-transform: $nav-text-transform;
        &:hover {
          background: $link-hover-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';/*U+25BE blacktriangledown*/
        }
      }
      ul li {
        min-width: 300px;
        border-top: 1px solid #4D4D4D;
        border-right: none;
        text-align:left;
        & a {
          padding: 15px;
          line-height: 20px;
          z-index: 1;
          text-transform:lowercase;
        }
        & a::first-letter{
          text-transform:uppercase;
        }
        ul li {
          text-align:left;
          border-right: none;
          & a {
            padding-left: 30px;/*10*/
            margin-left: 15px;
            &:hover {
              background: $nav-background;
              color: $nav-font-color;
              text-decoration: none;
            }
          }
        }
        ul li:hover{
          //bordo colorato che evidenzia voce di terzo livello
          background-color: $link-hover-color;
        }
      }
      li.cur{
        a{
          background-color: $link-hover-color;
        }
        li a {
          background-color:$nav-background;
        }
      }
    }
  }
}


.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  .nav-dropdown{
    position:relative;
  }
}


.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

#nav-toggle {
  position: absolute;
  left: 12px;/*18*/
  top: 20px;/*22*/
  cursor: pointer;
  padding: 8px 25px 14px 0;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;/*3*/
    width: 25px;/*35*/
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -8px;/*10*/
  }
  span:after {
    bottom: -8px;/*10*/
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media only screen and (max-width: $breakpoint) {
   #header{
     margin:0;
     padding:0;
   }
  #navigation-container{
    background: transparent;
    position: relative;
    top: -40px;
    border-bottom: 1px solid #000;
  }

  .nav-mobile {
    display: block;
    background:$nav-background;
  }
  nav.main {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        border-top: 1px solid #999;/**/
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }

  .nav-dropdown {
    position: static;
  }
  #langMenu{
    top: 0px;
    right: 80px;
  }
}

@media screen and (min-width: $breakpoint) {
  .navigation {
    height:40px;
  }

  .nav-list {
    display: block !important;
  }

  nav.main {
    width: 100%;
    box-shadow: 0 18px 14px -14px rgba(0,0,0,0.6);
  }

  nav.main ul li {
    list-style: none;
    text-align: center;
  }

  nav.main ul li a {
    display: block;
    line-height: 40px;
  }


}



/*########### MENU MIKY #############*/
#menu{
  position:relative;
  display:table;
  width:100%;
}
#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
  position: relative;
  z-index: 3000;
  margin-top:51px;
  background-color:#333;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
  display: none;
}

#menu li,
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
}

#menu li{
  border-width: 0 0 1px;
  border-bottom:1px solid #666;
}

#menu .sub-menu {
  background-color: #333;
  border-width: 1px 1px 0;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li,
#menu a {
  position: relative;
  display: block;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
  font-size: 1.375rem;
  font-family: Yanone Kaffeesatz,Trebuchet MS,Helvetica,sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}


#menu #nav-toggle  {
  background-color: #444;
  left: initial;
  right: 0;
  top: 11px;
  width: 44px;
  height: 40px;
}

#menu #nav-toggle a{
  width:0px;
  height:0px;
  position:absolute;
  top:0;
}

#nav-toggle span{
  left: 9px;
  top:17px;
}

#menu a {
  transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
  padding-left: 1rem;
}

#menu a:hover {
  background-color: #09c;
  color: #fff;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}
#menu .sub-menu a{
  border-bottom:1px solid #666;
  text-transform:lowercase;
  padding-left:3em;
}
#menu .sub-menu a:hover {
  color: #fff;
}

#menu label{
  text-align:left;
  padding-top: .7em;
  margin-left: initial;
}

#menu li label.drop-icon {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 2rem;
  border:none;
  border-left:1px solid #666;
}

#menu label.drop-icon,
#nav-toggle span.drop-icon {
  text-align: center;
  padding: 0;
  width: 50px;
}

#menu .drop-icon {
  line-height: 100%;
}



@media screen and (min-width: 1000px){

  #menu .main-menu {
    display: table;
    height: auto;
    margin:0 auto;
  }

  #nav-toggle,
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: .5rem;
  }
  #menu li:first-child{
    border-left: 1px solid #ccc;
  }

  #menu a{
    padding-left:0;
    padding:.15rem 1.5em;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
    border-right: 1px solid #ccc;
  }

  #menu .sub-menu li {
    float: none;
  }
  #menu .sub-menu a{
    padding-left:1em;
  }
  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #menu .sub-menu,
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}
